body{
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212529;
}
main{
    height: 100%;
}
@media (max-width: 600px){
    .btn{
        height: 200px;
        font-size: 3rem;
    }
}
@media (min-width: 600px){
    .btn{
        height: 150px;
        font-size: 2.5rem;
    }
}
@media (min-width: 768px){
    .btn{
        height: 100px;
        font-size: 2rem;
    }
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.buttons a{
    color: var(--bs-light)
}
.buttons a:nth-child(4n - 3) {
    background-color: var(--bs-green);
}
.buttons a:nth-child(4n - 2) {
    background-color: var(--bs-blue);
}
.buttons a:nth-child(4n - 1) {
    background-color: var(--bs-red);
}
.buttons a:nth-child(4n) {
    background-color: var(--bs-yellow);
}